body {
    background-color: #FDF4E4;
}

.container {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 30px;
    color: #013D5C;
}

h2 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 23px;
    color: #013D5C;
}

h3 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 20px;
    color: #013D5C;
}

p {
    max-width: 500px;
    font-family: "Montserrat", serif;
    font-size: 12px;
    color: #013D5C;
    text-align: center;
    line-height: 1.5;
}


.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
  
}

.image-wave {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.container-menu {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-cards {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card-fish {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.card-fishtwo {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.card-fishthree {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card-fishfour {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.card-fishfive {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.card-fishsix {
    max-width: 150px;
    width: 100%;
    border: 2px solid #013D5C;
    text-align: center;
    margin: 10px 20px 10px 0px;
    background-color: #BED4CE;
}

.container-btn {
    background-color: #013D5C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
}

.btn-text {
    font-family: "Albert Sans", serif;
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0px 15px 0px;
    color: #F6A35A;
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px;
}


.button {
    display: flex;
    justify-content: center;
    
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin: 20px 0px 30px 0px;
    font-family: "Albert Sans", serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #F6A35A;
    color: #013D5C;
    text-transform: uppercase;
    border: none;

}

.page-div {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1500px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

@@ -25,6 +25,7 @@ body {
.content-div {
    width: 90%;
    padding: 5%;
    padding-top: 3%;
}




@@ -62,7 +63,7 @@ body {
.main-logo, .waves-logo {
    max-width: 80%;
    height: auto;
    padding: 20px;
    padding: 2%;
}

.waves {

@@ -81,6 +82,10 @@ body {
    margin: 20px 5%; /* for <hr> line outside a content-div*/
}

.beige-line {
    background-color: #FDF4E4;
}


/* Headings and paragraphs */


@@ -96,22 +101,22 @@ h1, h2 {
}

h1 {
    font-size: 48px;
    padding-top: 40px;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}

h2 {
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 15px;
}

h3, h4, h5, h6 {
    font-size: medium;
    font-weight: 600;
    padding-top: 15px;
    padding-top: 10px;
}

a, p, .button {

@@ -137,7 +142,7 @@ a:active {
.button {   /* apply this class to an <a> tag to get a button */
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    padding: 8px 15px;
    min-width: 230px;
    text-transform: uppercase;
    letter-spacing: 27%;

@@ -147,6 +152,10 @@ a:active {
    display: inline-block;
}

.form-button {
    padding: 13px 15px;
}

.blue-button:hover {
    /*background-color: #012D4C;*/
    background-color: #F6A35A;

@@ -168,8 +177,7 @@ a:active {

.header-logo-div {
    width: 100%;
    max-height: 600px;
    /*max-height: 750px;*/
    height: 100vh;
    background-image: url('../images/ocean.png');
    background-size: cover;
    background-position: center;
}


@@ -199,21 +207,57 @@ a:active {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-weight: 500;
    justify-content: space-evenly;    
    padding: 0;
    margin: 0;
}

.header-list {
    flex-wrap: nowrap;
    font-weight: 500;
}

.header-line {
    margin-bottom: 0px;
    margin-top: 12px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-logo-div {
    width: 200px;
    overflow: hidden;
}

.footer-logo {
    padding: 0;
    max-width: 100%;
    height: auto;
}

.footer-nav {
    flex-grow: 2;
}

.footer-list {
    flex-wrap: wrap;
    gap: 20px;
    a {
        color: #FDF4E4;
    }
    a:hover {
        color: #F6A35A;
    }
    a:active {
        color: #BED4CE;
    }
}
