
/* Main dimensions and background color divs */



.container {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 35px;
    color: #013D5C;
}

h2 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 25px;
    color: #013D5C;
}

h3 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 20px;
    color: #013D5C;
}

p {
    max-width: 500px;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: #013D5C;
  
    line-height: 1.5;
}


.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    text-align: center;
}

.image-plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    
}


.container-menu {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    text-align: center;
}


.container-cards {
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h3-menu {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 20px;
    color: #013D5C;
}

.food {
    max-width: 80%;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: #013D5C;
    line-height: 1.5;
}

.card-fish {
    max-width: 50%;
    width: 100%;
    height: 50%;
    border: 2px solid #013D5C;
    margin: 10px 20px 10px 0px;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 30px;
    display: flex;
    display: inline-block;
}


.row-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card-fishfour {
    max-width: 50%;
    width: 100%;
    height: 50%;
    border: 2px solid #013D5C;
    margin: 10px 20px 10px 0px;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 30px;
}



.row-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-fishsix {
    max-width: 50%;
    width: 100%;
    height: 50%;
    border: 2px solid #013D5C;
    margin: 10px 20px 10px 0px;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 30px;
}

.container-btn {
    background-color: #FDF4E4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
}

.btn-text {
    font-family: "Albert Sans", serif;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px 15px 0px;
    color: #013D5C;
    display: flex;
    justify-content: center;

}


.button {
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #F6A35A;
    color: #013D5C;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin: 20px 0px 30px 0px;
    font-family: "Albert Sans", serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #013D5C;
    color: #FDF4E4;
    text-transform: uppercase;
    border: none;
}