.h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
}

/*.gallery-title {
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: solid; 2px;
    border-top: solid; 2px;
}*/
  

.gallery {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 10px;
  
}
  
.gallery-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
  
p {
    font-size: 30px;
    width: 1200px;
    max-width: 100%;
    margin-bottom: 30px;
}
  
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
     
}
  
.gallery-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
  
img {
     border-radius: 20px;
}
  
.suit, .ocean {
    width: 1200px;
    max-width: 100%;
    height: auto;
}
  
.tables {
    width: 806px;
    max-width: 100%;
    height: auto;
}
  
.wine {
    width: 374px;
    max-width: 100%;
    height: auto;
}
  
.plate, .chef {
    width: 590px;
    max-width: 100%;
    height: auto;
}
  
  
  
  