body{
    width: 100%;
    margin: auto;
}

img{
    /*max-width: 600px;*/
    display: block;
}

h1 {
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 30px;
    color: #013D5C;
}

h2{
    font-family: "Albert Sans", serif;
    font-weight: 900;
    font-size: 30px;
    color: #013D5C;
}

p{
    font-family: "Montserrat", serif;
    font-size: 12px;
    color: #013D5C;
    line-height: 1.5;
}

/*
button{
    color: #FDF4E4;
    background-color: #013D5C;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    min-width: 250px;
    max-width: 300px;
    font-family: "Montserrat", serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 200;
    text-transform: uppercase;
}

a{
    color: #fffff;
}
    */

.header-section{
    width: 100%;
    min-width: 500px;
    height: 100vh;
    background-image: url('../images/ocean.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
  max-width: 700px;
  width: 80%;
  height: auto;
  margin-top: -100px;
}

.turquise-section{
    background-color: #BED4CE;
    max-height: 600px;
    max-width: 900px;
    width: 80%;
    padding: 20px;
    margin: 0px;
    margin-top: -150px;
    margin-bottom: 10%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.by-the-ocean{
    text-align: center;
    margin: 40px;
}

.intro-section{
    background-color: #FDF4E4;
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.waves-blue, .waves-beige{
    max-width: 400px;
    padding: 40px;
}

.intro{
    padding: 5%;
    padding-bottom: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.intro-text{
    max-width: 500px;
    margin: 50px;
}

.intro-image{
    max-width: 500px;
    border-radius: 20px;
}

.tables-image{
    width: 100vw;
    max-height: 500px;
    object-fit: cover;
    
}

.buttons-section{
    background-color: #013D5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.yellow{
    background-color: #F6A35A;
    margin: 40px;
}

.buttons-p{
    font-family: "Montserrat", serif;
    font-size: 12px;
    color: #FDF4E4;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
    margin: 20px;
}

.images-section{
    background-color: #FDF4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.bottom-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 40px;
    border-radius: 30px;
}

.waves-blue-2{
    max-width: 400px;
    padding: 40px;
}

